*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
#header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: rgb(246, 246, 209); 
    padding:20px 80px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    z-index: 999;
     position: fixed;  
    top: 0;
    left: 0;
    right: 0;
    
}
.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav ul{
    display: flex;

}
.header-nav ul li{
    list-style-type: none;
    padding: 0px 20px;
    position: relative;

}
.header-nav ul a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    padding: 5px 5px;
    border-radius: 15px;
}
.header-nav ul a:hover{
    border: 1px solid black;
}

.header-nav ul a:hover,
.header-nav ul a:active{
    color: #088178;
    content: "";

}
.header-nav ul a:hover{
    box-shadow: 5px 3px;
}
.logo img{
    width: 90px;
    height: 60px;
}
.logo img:hover{
    transform: scale(1.3) translateY(5px);
}

.header-icon a{
    color: #1a1a1a;
    padding-left: 20px;
    transition: 0.3s ease ;

}
.header-icon a:hover{
    color: #088178;
}
 /* .header-nav ul li a:hover::after, 
.header-nav ul li a:active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
 }  */
#hero{
    background-image: url(real_back.jpg);
    height:100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 80px ;
    margin-top: 40px;
}
#hero h4{
    padding-bottom: 15px;
    font-size: 40px;
     
}

#hero h2{
    font-size: 50px;
}
#hero h1{
    color: #088178;
    font-size: 60px;
}
#hero button{
    background-color: transparent;
    padding: 40px 65px 40px 80px;
    background-image: url(btn-back.png);
    
    background-size:cover;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #0a0706;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#features .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0px;
    transition: box-shadow 0.3s;
}
.f-box img{
    width: 100px;
    height: 100px;
}
#features .f-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.7);
}
#features .f-box img{
    width: 100%;
    margin-bottom: 20px;
}
#features .f-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    font-size: 13px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

  #features .f-box .f-two{ 
    background-color: #adfdf7;
}
#features .f-box .f-three{ 
    background-color: #fdf0ad;
}
#features .f-box .f-four{ 
    background-color: #c9adfd;
}
#features .f-box .f-five{ 
    background-color: #adfdb8;
}
#features .f-box .f-six{ 
    background-color: #f7bcec;
}

